<div class="form-horizontal">
 <%= form_for([:admin, @item]) do |f| %>
 <div class="field form-group">
   <%= f.label :title, "title", class: 'col-sm-2 control-label' %>
   <div class="col-sm-3">
     <%= f.text_field :title, class: 'form-control' %>
   </div>
 </div>

 <div class="field form-group">
   <%= f.label :description, "description", class: 'col-sm-2 control-label' %>
   <div class="col-sm-3">
     <%= f.text_field :description, class: 'form-control' %>
   </div>
 </div>

 <div class="field form-group">
   <%= f.label :price, "price", class: 'col-sm-2 control-label' %>
   <div class="col-sm-3">
     <%= f.text_field :price, class: 'form-control' %>
   </div>
 </div>

  <div class="field form-group">
    <h6 class="col-sm-2 control-label">pick menu(s)</h6>
  </div>

  <% @categories.all.each do |category| %>
    <div class="field form-group">
      <div>
        <%= f.label :category, category.name, class: 'col-sm-2 check-box-label'%>
      </div>
      <div class="col-sm-3">
        <%= check_box_tag 'category[ids][]', category.id, @item.part_of?(category), :id => category.id %>
      </div>
    </div>
  <% end %>



 <div class="field form-group">
   <%= f.label :image, "upload an image", class: 'col-sm-2 control-label' %>
   <div class="col-sm-3">
     <%= f.file_field :image %>
   </div>
 </div>

 <div class="actions form-group">
   <div class="col-sm-offset-2 col-sm-10">
     <%= f.submit "add item", class: "btn btn-default" %>
   </div>
 </div>
<% end %>
</div>
