<h1>Orders</h1>

<h4>ordered:
<%= @orders.ordered.count %></h4>
<% @orders.ordered.each do |order| %>
  <%= render partial: 'form', locals: { :order => order } %>
<% end %><br>

<h4>paid:
<%= @orders.paid.count %></h4>
<% @orders.paid.each do |order| %>
  <%= render partial: 'form', locals: { :order => order } %>
<% end %><br>

<h4>cancelled:
<%= @orders.cancelled.count %></h4>
<% @orders.cancelled.each do |order| %>
  <%= render partial: 'form', locals: { :order => order } %>
<% end %><br>

<h4>completed:
<%= @orders.completed.count %></h4>
<% @orders.completed.each do |order| %>
  <%= render partial: 'form', locals: { :order => order } %>
<% end %><br>
