<h1>Orders</h1>

<%= render partial: 'filter' %>

<div class="orders">
  <% @orders.each do |order| %>
    <div class="order col-sm-4" data-status="<%= order.status %>">
      <h5><%= number_to_currency order.total_price %></h5>

      <%= form_tag admin_order_path(order), method: :put do %>
      <%= select_tag :status, options_for_select(Order.statuses.keys, order.status) %>
      <%= submit_tag "update", class: "btn btn-xs" %>
      <% end %>

      <h6><%= link_to "view this order", admin_order_path(order) %></h6>
    </div>
  <% end %>
</div>
