<div class="row">
  <div class="col-lg-6">
    <div class="row">
      <div class="col-lg-12 featured-four">
        <%= image_tag("plate.jpg") %>
      </div>

    </div>
<div class="row">
<div class="col-lg-4 featured right-space small-box">
    <h6>click to view</h6>
    <h3><%= link_to 'Food.', items_path %></h3>
</div>
<div class="col-lg-8 featured-two"><h6>want to join the farm?</h6>
  <h3><%= link_to "new farmhand", new_user_path %></h3>
  <p>
    come on in and sign up to be part of our farm family.
  </p>
</div>
</div>
</div>

<div class="col-lg-6">
  <div class="row">
    <div class="col-lg-4 featured">
      <h6>click to view</h6>
      <h3><%= link_to "Menus", categories_path %></h3>
    </div>
    <div class="col-lg-8 featured-two">
      <h3>Farm Fresh</h3>
      <p>
        Pitchfork chia cornhole mumblecore lumbersexual. Meggings biodiesel church-key, photo booth small batch gentrify street art wayfarers. Bushwick street art listicle farm-to-table Odd Future.
      </p>
      </div>
  </div>
  <div class="row">
    <div class="col-lg-8 featured-three right-space height">
      <%= image_tag("piggypiggypiggy.jpg") %>
    </div>
    <div class="col-lg-4 featured small-box-2 small-height"><h3>Farm to Table</h3>
      <p>
        Occupy YOLO cronut, iPhone retro four loko Wes Anderson synth next level +1 Tumblrs
      </p>
    </div>
  </div>
</div>
</div>

<div class="row">

</div>
<div class="col-lg-4 featured-three height negative-left right-space">
<%= image_tag("moomoomoo.jpg") %>
</div>
<div class="col-lg-2 featured-two height small-box-3 box-height"><h3>Flappy</h3>
<p>
  Occupy YOLO cronut. Blue Bottle fashion axe hoodie irony mlkshk flexitarian VHS banh mi. Occupy YOLO cronut, iPhone retro four loko Wes Anderson synth next level +1 Tumblr
</p>
</div>
<div class="col-lg-6">
<%= image_tag("coffee.png", :class => "custom-width") %>
</div>
</div>

<div id="main-page">

</div
