<h1>your cart</h1>

<ul>
<% @cart.items.each do |item, quantity| %>
  <li>
    <%= item.title %> | quantity <%= quantity %> | total <%= number_to_currency (quantity * item.price) %><br>
    <%=  %>
  </li>
<% end %>
</ul> 

<h3>Total <%= number_to_currency @cart.total_price %></h3>

<%= button_to "confirm checkout", orders_path %>

<%= link_to "back to cart", cart_path %>
