<h1>your cart</h1>
<div class="form-horizontal">
<% @cart.items.each do |item, quantity| %>
  <%= item.title %><br>
      <%= form_tag '/cart', method: :put do %>
      <div class="field form-group">
      <div class="col-sm-3">
        <%= text_field_tag :quantity, quantity, class: 'form-control' %>
        <%= hidden_field_tag :item_id, item.id %>
        <%= submit_tag "update", class: "btn btn-default" %>
      <% end %>
<% end %>
</div>
</div>
</div>


<h2><%= link_to "checkout", new_order_path %></h2><br>

<h3><%= link_to "menus", categories_path %><h3>
