<div class="main">
  <div class="main:after">
<h1><%= @item.title %></h1><br>

<%= image_tag(@item.image.url, alt: @item.title, class: "item-show-img") %>

<h2>price: <%= number_to_currency @item.price, precision: 2 %></h2>

<h2><%= @item.description %></h2>

<h3>menus</h3>
  <% @item.categories.each do |category| %>
    <h3><%= link_to category.name, category %><h3>
  <% end %>

<% if @item.status == "active" %>
  <%= button_to cart_path(item_id: @item.id), class: 'btn btn-default' do %>
    <i class="glyphicon glyphicon-plus"></i> add to cart
  <% end %>
<% end %>

</div>
</div>
