
<h1>update <%= @category.name %> menu name</h1><br>

<%= form_for([:admin, @category]) do |f| %>
  <%= f.label :name, "menu" %>
  <%= f.text_field :name, placeholder: @category.name %><br>
  <%= f.submit "change"%>
<% end  %><br>


<h5><%= link_to "menu", admin_categories_path %></h5>
