<h1 id="menu-title"><%= @category.name %></h1>
<%= link_to "menus", categories_path %>
<!-- put the link to menus in the nav bar -->
<ul>
<% @category.items.each do |item| %>
  <li>
    <h3><%= item.title %></h3><br>
    <%= link_to image_tag(item.photo_url, height: '120', alt: item.title), item %>
    <%= button_to carts_path(item_id: item.id), class: 'btn btn-hover' do %>
      <i class="glyphicon glyphicon-plus"></i> add to cart
    <% end %>

  </li>
<% end %>
</ul>
