<!DOCTYPE html>
<html>
<head>
  <title>FarmToTable - lettuce turnip the beet</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
  <link href='//fonts.googleapis.com/css?family=Merriweather:400italic,400,300italic,300' rel='stylesheet' type='text/css'>
</head>
<body>
<%= render partial: 'layouts/nav' %>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <div class="col-lg-12 featured-four">
          <%= image_tag("plate.jpg") %>
        </div>

      </div>
<div class="row">
  <div class="col-lg-4 featured right-space small-box">
      <h6>Some Text</h6>
      <h3>Food.</h3>
  </div>
<div class="col-lg-8 featured-two"><h6>Monkey</h6>
  <p>
    Helvetica bespoke gastropub, Blue Bottle fashion axe hoodie irony mlkshk flexitarian VHS banh mi. Occupy YOLO cronut, iPhone retro four loko Wes Anderson synth next level +1 Tumblr
  </p>
</div>
</div>
</div>

<div class="col-lg-6">
    <div class="row">
      <div class="col-lg-4 featured">
        <h6>Some Text</h6>
        <h3>new<br/>menu</h3>
      </div>
      <div class="col-lg-8 featured-two">
        <h3>Farm Fresh</h3>
        <p>
          Pitchfork chia cornhole mumblecore lumbersexual. Meggings biodiesel church-key, photo booth small batch gentrify street art wayfarers. Bushwick street art listicle farm-to-table Odd Future.
        </p>
        </div>
    </div>
    <div class="row">
      <div class="col-lg-8 featured-three right-space height">
        <%= image_tag("piggypiggypiggy.jpg") %>
      </div>
      <div class="col-lg-4 featured small-box-2 height"><h3>Farm to Table</h3>
        <p>
          Helvetica bespoke gastropub, Blue Bottle fashion axe hoodie irony mlkshk flexitarian VHS banh mi. Occupy YOLO cronut, iPhone retro four loko Wes Anderson synth next level +1 Tumblrs
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">

</div>
<div class="col-lg-4 featured-three height negative-left right-space">
  <%= image_tag("moomoomoo.jpg") %>
</div>
<div class="col-lg-2 featured-two height small-box-3"><h3>Flappy</h3>
  <p>
    PBR pop-up Thundercats, sartorial Tumblr asymmetrical yr letterpress.Helvetica bespoke gastropub, Blue Bottle fashion axe hoodie irony mlkshk flexitarian VHS banh mi. Occupy YOLO cronut, iPhone retro four loko Wes Anderson synth next level +1 Tumblr
  </p>
</div>
<div class="col-lg-6">
  <%= image_tag("coffee.png", :class => "custom-width") %>
</div>
</div>
<% flash.each do |name, message| %>
  <%= content_tag :div, message, :id => "flash_#{name}" %>
<% end %>

<%= yield %>

<%= render partial: 'layouts/footer' %>
</body>
</html>
